yuanxiasynwssea01/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "yuanxiasynwssea01"
		},
		"CosmosDBLScosmicworks_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'CosmosDBLScosmicworks'"
		},
		"Salesforce1_clientSecret": {
			"type": "secureString",
			"metadata": "Secure string for 'clientSecret' of 'Salesforce1'"
		},
		"yuanxiasynwssea01-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'yuanxiasynwssea01-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:yuanxiasynwssea01.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dl4synapsesea01.dfs.core.windows.net/"
		},
		"CosmosDBLScosmicworks_properties_typeProperties_connectionString": {
			"type": "string"
		},
		"DataLake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dl4synapsesea01.dfs.core.windows.net/"
		},
		"PowerBIWorkspace1_properties_typeProperties_workspaceID": {
			"type": "string",
			"defaultValue": "0cc58319-d3cf-4996-ad2f-6b661ffefe67"
		},
		"PowerBIWorkspace1_properties_typeProperties_tenantID": {
			"type": "string",
			"defaultValue": "72f988bf-86f1-41af-91ab-2d7cd011db47"
		},
		"Salesforce1_properties_typeProperties_environmentUrl": {
			"type": "string",
			"defaultValue": "https://some.my.salesforce.com"
		},
		"Salesforce1_properties_typeProperties_clientId": {
			"type": "string",
			"defaultValue": "dasfcvdsfgdfgdfsg"
		},
		"Salesforce1_properties_typeProperties_clientSecret": {
			"type": "string"
		},
		"Salesforce1_properties_typeProperties_apiVersion": {
			"type": "string",
			"defaultValue": "61.0"
		},
		"Salesforce1_properties_typeProperties_authenticationType": {
			"type": "string",
			"defaultValue": "OAuth2ClientCredential"
		},
		"yuanxiasynwssea01-WorkspaceDefaultSqlServer_properties_typeProperties_connectionString": {
			"type": "string",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:yuanxiasynwssea01.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"yuanxiasynwssea01-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://dl4synapsesea01.dfs.core.windows.net"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/Pipeline 1')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "SqlDW2Parquet",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlPoolSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "col1",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "col1",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "col2",
											"type": "DateTime",
											"physicalType": "datetime2"
										},
										"sink": {
											"name": "col2",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlPoolTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-03-11T05:32:35Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/SqlPoolTable1')]",
				"[concat(variables('workspaceId'), '/datasets/Parquet1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Pipeline 2')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Csv2Parquet",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2025-03-11T05:32:42Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/DelimitedText1')]",
				"[concat(variables('workspaceId'), '/datasets/Parquet1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Pipeline 3')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "CosmosDbNoSqlContainer1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/DelimitedText1')]",
				"[concat(variables('workspaceId'), '/datasets/CosmosDbNoSqlContainer1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/waitWithExpression')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Wait MST_3 Start",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Find Storage Account",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": {
								"value": "@max(1,\n    div(\n        sub(\n            ticks(concat(substring(convertFromUtc(utcNow(), 'Tokyo Standard Time', 's'), 0, 11), pipeline().parameters.group3StartTime, ':00Z')),\n            ticks(convertFromUtc(utcNow(), 'Tokyo Standard Time', 's'))\n        ),\n        10000000\n    )\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Wait MST_4 Start",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Find Storage Account",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": {
								"value": "@max(1,\n    div(\n        sub(\n            ticks(concat(substring(convertFromUtc(utcNow(), 'Tokyo Standard Time', 's'), 0, 11), pipeline().parameters.group4StartTime, ':00Z')),\n            ticks(convertFromUtc(utcNow(), 'Tokyo Standard Time', 's'))\n        ),\n        10000000\n    )\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Wait MST_2 Start",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Find Storage Account",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": {
								"value": "@max(1,\n    div(\n        sub(\n            ticks(concat(substring(convertFromUtc(utcNow(), 'Tokyo Standard Time', 's'), 0, 11), pipeline().parameters.group2StartTime, ':00Z')),\n            ticks(convertFromUtc(utcNow(), 'Tokyo Standard Time', 's'))\n        ),\n        10000000\n    )\n)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Find Storage Account",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "storageAccount",
							"value": "hello"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"group2StartTime": {
						"type": "string",
						"defaultValue": "04:30"
					},
					"group3StartTime": {
						"type": "string",
						"defaultValue": "05:30"
					},
					"group4StartTime": {
						"type": "string",
						"defaultValue": "06:30"
					}
				},
				"variables": {
					"storageAccount": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2025-03-11T05:31:33Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/CosmosDbNoSqlContainer1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "CosmosDBLScosmicworks",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {},
				"typeProperties": {
					"collectionName": "products"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/CosmosDBLScosmicworks')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DelimitedText1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "testcsv.csv",
						"folderPath": "CSV",
						"fileSystem": "synapsedata01"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/yuanxiasynwssea01-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Parquet1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Parquet",
						"fileSystem": "synapsedata01"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/yuanxiasynwssea01-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SI_IRENA_Folder')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "DataLake",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "SI_IRENA"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "IRENA",
						"fileSystem": "adls"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SqlPoolTable1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SqlPoolTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "t1"
				},
				"sqlPool": {
					"referenceName": "mxsqlpoolsea01",
					"type": "SqlPoolReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/sqlPools/mxsqlpoolsea01')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/CosmosDBLScosmicworks')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": {
						"type": "SecureString",
						"value": "[parameters('CosmosDBLScosmicworks_properties_typeProperties_connectionString')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DataLake')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('DataLake_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/PowerBIWorkspace1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "PowerBIWorkspace",
				"typeProperties": {
					"workspaceID": "[parameters('PowerBIWorkspace1_properties_typeProperties_workspaceID')]",
					"tenantID": "[parameters('PowerBIWorkspace1_properties_typeProperties_tenantID')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Salesforce1')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "SalesforceV2",
				"typeProperties": {
					"environmentUrl": "[parameters('Salesforce1_properties_typeProperties_environmentUrl')]",
					"clientId": "[parameters('Salesforce1_properties_typeProperties_clientId')]",
					"clientSecret": {
						"type": "SecureString",
						"value": "[parameters('Salesforce1_properties_typeProperties_clientSecret')]"
					},
					"apiVersion": "[parameters('Salesforce1_properties_typeProperties_apiVersion')]",
					"authenticationType": "[parameters('Salesforce1_properties_typeProperties_authenticationType')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/yuanxiasynwssea01-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": {
						"type": "SecureString",
						"value": "[parameters('yuanxiasynwssea01-WorkspaceDefaultSqlServer_properties_typeProperties_connectionString')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/yuanxiasynwssea01-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('yuanxiasynwssea01-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Dataflow1')]",
			"type": "Microsoft.Synapse/workspaces/dataflows",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DelimitedText1",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Parquet1",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          Column_1 as string,",
						"          Column_2 as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/DelimitedText1')]",
				"[concat(variables('workspaceId'), '/datasets/Parquet1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SQL script 1')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "IF NOT EXISTS (SELECT * FROM sys.external_file_formats WHERE name = 'SynapseParquetFormat') \n\tCREATE EXTERNAL FILE FORMAT [SynapseParquetFormat] \n\tWITH ( FORMAT_TYPE = PARQUET)\nGO\n\nIF NOT EXISTS (SELECT * FROM sys.external_data_sources WHERE name = 'synapsedata01_dl4synapsesea01_dfs_core_windows_net') \n\tCREATE EXTERNAL DATA SOURCE [synapsedata01_dl4synapsesea01_dfs_core_windows_net] \n\tWITH (\n\t\tLOCATION = 'abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net'\n\t)\nGO\n\nCREATE EXTERNAL TABLE [dbo].[extt1] (\n\t[col1] int,\n\t[col2] datetime2\n\t)\n\tWITH (\n\tLOCATION = 'Parquet/dbo.extt1.parquet',\n\tDATA_SOURCE = [synapsedata01_dl4synapsesea01_dfs_core_windows_net],\n\tFILE_FORMAT = [SynapseParquetFormat]\n\t)\nGO\n\n\nSELECT TOP 100 * FROM [dbo].[extt1]\nGO\n\n\nCREATE EXTERNAL TABLE [dbo].[extt1_2] (\n\t[col1] int,\n\t[col2] datetime2\n\t)\n\tWITH (\n\tLOCATION = 'Parquet/dbo.extt1.parquet',\n\tDATA_SOURCE = [synapsedata01_dl4synapsesea01_dfs_core_windows_net],\n\tFILE_FORMAT = [SynapseParquetFormat],\n\tREJECT_VALUE = 500,\n\tREJECTED_ROW_LOCATION = 'Reject/'\n\t)\nGO\n\nSELECT TOP 100 * FROM [dbo].[extt1_2]\n\ndrop EXTERNAL TABLE dbo.extt1_3\n\nCREATE EXTERNAL TABLE [dbo].[extt1_3] (\n\t[col1] int,\n\t[col2] datetime2\n\t)\n\tWITH (\n\tLOCATION = 'Parquet/dbo.t1.parquet',\n\tDATA_SOURCE = [synapsedata01_dl4synapsesea01_dfs_core_windows_net],\n\tFILE_FORMAT = [SynapseParquetFormat],\n\tREJECT_VALUE = 500,\n\tREJECTED_ROW_LOCATION = 'Reject/'\n\t)\nGO\n\nSELECT * FROM [dbo].[extt1_3]\n\nhttps://savmdxivplakestg01.dfs.core.windows.net/data/raw/m_mysql_kna1/ivp_dt=20240702/data_630520b9-492f-4d86-8831-2caab945b651_4dc983bc-dee5-4b98-b6d2-2cfa038a43e6.parquet\n\n\n\nIF NOT EXISTS (SELECT * FROM sys.external_file_formats WHERE name = 'TestParquetFormat') \n\tCREATE EXTERNAL FILE FORMAT [TestParquetFormat] \n\tWITH ( FORMAT_TYPE = PARQUET)\nGO\n\nIF NOT EXISTS (SELECT * FROM sys.external_data_sources WHERE name = 'TestDataSource') \n\tCREATE EXTERNAL DATA SOURCE [TestDataSource] \n\tWITH (\n\t\tLOCATION = 'abfss://data@savmdxivplakestg01.dfs.core.windows.net'\n\t)\nGO\n\nCREATE EXTERNAL TABLE [dbo].[extt1_2] (\n\t[col1] int,\n\t[col2] datetime2\n\t)\n\tWITH (\n\tLOCATION = 'raw/m_mysql_kna1/ivp_dt=20240702/data_630520b9-492f-4d86-8831-2caab945b651_4dc983bc-dee5-4b98-b6d2-2cfa038a43e6.parquet',\n\tDATA_SOURCE = [TestDataSource],\n\tFILE_FORMAT = [TestParquetFormat],\n\tREJECT_VALUE = 500,\n\tREJECTED_ROW_LOCATION = 'Reject/'\n\t)\nGO\n\n\n-- ---------------------------------------------------------------\n\ndrop EXTERNAL TABLE [dbo].[extt1_4]\n\nCREATE EXTERNAL TABLE [dbo].[extt1_4] (\n\t[zkzfustorcd] nvarchar(100),\n\t[zkzfssetkbn] nvarchar(100),\n\t[zkzdcbukrs] nvarchar(100),\n\t[zkzfdelotxt] nvarchar(100),\n\t[zkzfdelotxk] nvarchar(100),\n\t[zkzfdelotab] nvarchar(100),\n\t[zkzcusstdat] datetime2(7),\n\t[zkzcuseddat] datetime2(7),\n\t[zkzorotflg] nvarchar(100),\n\t[zkzorogrpcd] nvarchar(100),\n\t[zkzcmodeflg] nvarchar(100),\n\t[zkzemocoflg] nvarchar(100),\n\t[zkzppaidkbn] nvarchar(100),\n\t[zkzidcadkbn] nvarchar(100),\n\t[zkzondcpflg] nvarchar(100),\n\t[zkzppaemocd] nvarchar(100),\n\t[zkztranskbn] nvarchar(100),\n\t[zkztaxkbn] nvarchar(100),\n\t[zkzcprgrpcd] nvarchar(100),\n\t[zkzopcpgrcd] nvarchar(100),\n\t[zkzkemonkbn] nvarchar(100),\n\t[zkzfrpkbn] nvarchar(100),\n\t[zkzproekbn] nvarchar(100),\n\t[zkzpainukbn] nvarchar(100),\n\t[zkzimcedflg] nvarchar(100),\n\t[zkzarkunnr] nvarchar(100),\n\t[zkzppkunnr] nvarchar(100),\n\t[zkzidkunnr] nvarchar(100),\n\t[zkzcmonsflg] nvarchar(100),\n\t[zkzcmonscd] nvarchar(100),\n\t[zkzarpayee] nvarchar(100),\n\t[zkzarmgtkbn] nvarchar(100),\n\t[zkzmoparbuk] nvarchar(100),\n\t[zkzmopdebuk] nvarchar(100),\n\t[zkzmopucbuk] nvarchar(100),\n\t[zkzcoscbkbn] nvarchar(100),\n\t[zkzsplodgrcd] nvarchar(100),\n\t[zkzdiswerks] nvarchar(100),\n\t[zkzdirprocd] nvarchar(100),\n\t[zkzdibarocd] nvarchar(100),\n\t[zkzditeamcd] nvarchar(100),\n\t[zkzdirerocd] nvarchar(100),\n\t[zkzgrpcd] nvarchar(100),\n\t[zkzsmgtbuk] nvarchar(100),\n\t[zkzsmgtwer] nvarchar(100),\n\t[zkzsmgtrocd] nvarchar(100),\n\t[zkzmopsakbn] nvarchar(100),\n\t[zkzprsprt] nvarchar(100),\n\t[zkzcomcakbn] nvarchar(100),\n\t[zkzlacadttm] numeric(38,18),\n\t[zkzlcocakbn] nvarchar(100),\n\t[zkzlfsorkbn] nvarchar(100),\n\t[zkzsclrrflg] nvarchar(100),\n\t[zkzcmcorkbn] nvarchar(100),\n\t[zkzmbcorkbn] nvarchar(100),\n\t[zkzwinscd1] nvarchar(100),\n\t[zkzwinscd2] nvarchar(100),\n\t[zkzfvctkbn] nvarchar(100),\n\t[zkzfacecd] nvarchar(100),\n\t[zkzdecatkbn] nvarchar(100),\n\t[zkzdecapcd] nvarchar(100),\n\t[zkzdecalgo] nvarchar(100),\n\t[ZADMINDEL] nvarchar(100),\n\t[ZCOMMTYP] nvarchar(100),\n\t[ZAPCOMCC] nvarchar(100),\n\t[ZCOMCC] nvarchar(100),\n\t[ZSETSDATE] datetime2(7),\n\t[ZSETEDATE] datetime2(7),\n\t[ZUNIFRM] nvarchar(100),\n\t[zzernam] nvarchar(100),\n\t[zzersda] datetime2(7),\n\t[zzerzzt] datetime2(7),\n\t[zzaenam] nvarchar(100),\n\t[zzupdat] datetime2(7),\n\t[zzuptim] datetime2(7),\n\t[zzupind] nvarchar(100),\n\t[ZZLOEVM] nvarchar(100),\n\t[TIMESTAMP] datetime2(7),\n\t[ZKZONLINEFLG] nvarchar(100),\n\t[ZKZDPFLG] nvarchar(100),\n\t[ivp_dt] nvarchar(100)\n\t)\n\tWITH (\n\tLOCATION = 'Parquet/data_81fffbd5-cfb3-404e-90a2-fbfac31928cd_a54bdb6f-c3dc-448c-97fc-00100494f4f2.parquet',\n\tDATA_SOURCE = [synapsedata01_dl4synapsesea01_dfs_core_windows_net],\n\tFILE_FORMAT = [SynapseParquetFormat]\n\t)\nGO\n\nselect * from [dbo].[extt1_4]\n\n\nWITH \nraw_data AS (\n    SELECT *\n    FROM [dbo].[extt1_4] WHERE ivp_dt = 20240704\n),\nremoved_dup AS (\n    SELECT C.* \n    FROM (SELECT DISTINCT zkzfustorcd from raw_data) A\n    CROSS APPLY (SELECT TOP 1 * \n                FROM raw_data B\n                WHERE A.zkzfustorcd  = B.zkzfustorcd\n                ORDER by [TIMESTAMP] DESC) C\n),\nnew_data AS (\n    SELECT *\n        , CAST('2024-07-01 16:04:12' as date) as [ivp_created_date]\n        , CAST('2024-07-01 16:04:12' as datetime2) as [ivp_created_timestamp]\n        , 'CCBJI' as [ivp_created_co]\n        , 'IVP' as [ivp_created_by]\n        , 'IF' as [ivp_created_pgm_nm]\n        , CAST('2024-07-01 16:04:12' as date) as [ivp_updated_date]\n        , CAST('2024-07-01 16:04:12' as datetime2) as [ivp_updated_timestamp]\n        , 'CCBJI' as [ivp_updated_co]\n        , 'IVP' as [ivp_updated_by]\n        , 'IF' as [ivp_updated_pgm_nm]\n        , 'U' as [ivp_updated_cl]\n    FROM [removed_dup]\n),\nnew_data_set AS (\n    SELECT \n       new_data.[zkzfustorcd]\n      ,new_data.[zkzfssetkbn]\n      ,new_data.[zkzdcbukrs]\n      ,new_data.[zkzfdelotxt]\n      ,new_data.[zkzfdelotxk]\n      ,new_data.[zkzfdelotab]\n      ,new_data.[zkzcusstdat]\n      ,new_data.[zkzcuseddat]\n      ,new_data.[zkzorotflg]\n      ,new_data.[zkzorogrpcd]\n      ,new_data.[zkzcmodeflg]\n      ,new_data.[zkzemocoflg]\n      ,new_data.[zkzppaidkbn]\n      ,new_data.[zkzidcadkbn]\n      ,new_data.[zkzondcpflg]\n      ,new_data.[zkzppaemocd]\n      ,new_data.[zkztranskbn]\n      ,new_data.[zkztaxkbn]\n      ,new_data.[zkzcprgrpcd]\n      ,new_data.[zkzopcpgrcd]\n      ,new_data.[zkzkemonkbn]\n      ,new_data.[zkzfrpkbn]\n      ,new_data.[zkzproekbn]\n      ,new_data.[zkzpainukbn]\n      ,new_data.[zkzimcedflg]\n      ,new_data.[zkzarkunnr]\n      ,new_data.[zkzppkunnr]\n      ,new_data.[zkzidkunnr]\n      ,new_data.[zkzcmonsflg]\n      ,new_data.[zkzcmonscd]\n      ,new_data.[zkzarpayee]\n      ,new_data.[zkzarmgtkbn]\n      ,new_data.[zkzmoparbuk]\n      ,new_data.[zkzmopdebuk]\n      ,new_data.[zkzmopucbuk]\n      ,new_data.[zkzcoscbkbn]\n      ,new_data.[zkzsplodgrcd]\n      ,new_data.[zkzdiswerks]\n      ,new_data.[zkzdirprocd]\n      ,new_data.[zkzdibarocd]\n      ,new_data.[zkzditeamcd]\n      ,new_data.[zkzdirerocd]\n      ,new_data.[zkzgrpcd]\n      ,new_data.[zkzsmgtbuk]\n      ,new_data.[zkzsmgtwer]\n      ,new_data.[zkzsmgtrocd]\n      ,new_data.[zkzmopsakbn]\n      ,new_data.[zkzprsprt]\n      ,new_data.[zkzcomcakbn]\n      ,new_data.[zkzlacadttm]\n      ,new_data.[zkzlcocakbn]\n      ,new_data.[zkzlfsorkbn]\n      ,new_data.[zkzsclrrflg]\n      ,new_data.[zkzcmcorkbn]\n      ,new_data.[zkzmbcorkbn]\n      ,new_data.[zkzwinscd1]\n      ,new_data.[zkzwinscd2]\n      ,new_data.[zkzfvctkbn]\n      ,new_data.[zkzfacecd]\n      ,new_data.[zkzdecatkbn]\n      ,new_data.[zkzdecapcd]\n      ,new_data.[zkzdecalgo]\n      ,new_data.[ZADMINDEL]\n      ,new_data.[ZCOMMTYP]\n      ,new_data.[ZAPCOMCC]\n      ,new_data.[ZCOMCC]\n      ,new_data.[ZSETSDATE]\n      ,new_data.[ZSETEDATE]\n      ,new_data.[ZUNIFRM]\n      ,new_data.[ZKZONLINEFLG] as [zkzonlineflg]\n    ,new_data.[zkzonlinest]\n      ,new_data.[ZKZDPFLG] as [zkzdpflg]\n      ,new_data.[zzernam]\n      ,new_data.[zzersda]\n      ,new_data.[zzerzzt]\n      ,new_data.[zzaenam]\n      ,new_data.[zzupdat]\n      ,new_data.[zzuptim]\n      ,new_data.[zzupind]\n      ,new_data.[ZZLOEVM]\n      ,new_data.[TIMESTAMP]\n    ,new_data.[ivp_dt],\n       new_data.[ivp_updated_date],\n       new_data.[ivp_updated_timestamp],\n       new_data.[ivp_updated_co],\n       new_data.[ivp_updated_by],\n       new_data.[ivp_updated_pgm_nm],\n    FROM new_data\n)\nselect * from new_data_set;\n\n\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "db01",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SQL script 2')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "-- This is auto-generated code\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'https://dl4synapsesea01.dfs.core.windows.net/synapsedata01/Parquet/data_81fffbd5-cfb3-404e-90a2-fbfac31928cd_a54bdb6f-c3dc-448c-97fc-00100494f4f2.parquet',\n        FORMAT = 'PARQUET'\n    ) AS [result]\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "master",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SQL script 3')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "IF NOT EXISTS (SELECT * FROM sys.external_file_formats WHERE name = 'SynapseParquetFormat') \n\tCREATE EXTERNAL FILE FORMAT [SynapseParquetFormat] \n\tWITH ( FORMAT_TYPE = PARQUET)\nGO\n\nIF NOT EXISTS (SELECT * FROM sys.external_data_sources WHERE name = 'synapsedata01_dl4synapsesea01_dfs_core_windows_net') \n\tCREATE EXTERNAL DATA SOURCE [synapsedata01_dl4synapsesea01_dfs_core_windows_net] \n\tWITH (\n\t\tLOCATION = 'abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net' \n\t)\nGO\n\nCREATE EXTERNAL TABLE [dbo].[extt1_4] (\n\t[zkzfustorcd] nvarchar(100),\n\t[zkzfssetkbn] nvarchar(100),\n\t[zkzdcbukrs] nvarchar(100),\n\t[zkzfdelotxt] nvarchar(100),\n\t[zkzfdelotxk] nvarchar(100),\n\t[zkzfdelotab] nvarchar(100),\n\t[zkzcusstdat] datetime2(7),\n\t[zkzcuseddat] datetime2(7),\n\t[zkzorotflg] nvarchar(100),\n\t[zkzorogrpcd] nvarchar(100),\n\t[zkzcmodeflg] nvarchar(100),\n\t[zkzemocoflg] nvarchar(100),\n\t[zkzppaidkbn] nvarchar(100),\n\t[zkzidcadkbn] nvarchar(100),\n\t[zkzondcpflg] nvarchar(100),\n\t[zkzppaemocd] nvarchar(100),\n\t[zkztranskbn] nvarchar(100),\n\t[zkztaxkbn] nvarchar(100),\n\t[zkzcprgrpcd] nvarchar(100),\n\t[zkzopcpgrcd] nvarchar(100),\n\t[zkzkemonkbn] nvarchar(100),\n\t[zkzfrpkbn] nvarchar(100),\n\t[zkzproekbn] nvarchar(100),\n\t[zkzpainukbn] nvarchar(100),\n\t[zkzimcedflg] nvarchar(100),\n\t[zkzarkunnr] nvarchar(100),\n\t[zkzppkunnr] nvarchar(100),\n\t[zkzidkunnr] nvarchar(100),\n\t[zkzcmonsflg] nvarchar(100),\n\t[zkzcmonscd] nvarchar(100),\n\t[zkzarpayee] nvarchar(100),\n\t[zkzarmgtkbn] nvarchar(100),\n\t[zkzmoparbuk] nvarchar(100),\n\t[zkzmopdebuk] nvarchar(100),\n\t[zkzmopucbuk] nvarchar(100),\n\t[zkzcoscbkbn] nvarchar(100),\n\t[zkzsplodgrcd] nvarchar(100),\n\t[zkzdiswerks] nvarchar(100),\n\t[zkzdirprocd] nvarchar(100),\n\t[zkzdibarocd] nvarchar(100),\n\t[zkzditeamcd] nvarchar(100),\n\t[zkzdirerocd] nvarchar(100),\n\t[zkzgrpcd] nvarchar(100),\n\t[zkzsmgtbuk] nvarchar(100),\n\t[zkzsmgtwer] nvarchar(100),\n\t[zkzsmgtrocd] nvarchar(100),\n\t[zkzmopsakbn] nvarchar(100),\n\t[zkzprsprt] nvarchar(100),\n\t[zkzcomcakbn] nvarchar(100),\n\t[zkzlacadttm] numeric(38,18),\n\t[zkzlcocakbn] nvarchar(100),\n\t[zkzlfsorkbn] nvarchar(100),\n\t[zkzsclrrflg] nvarchar(100),\n\t[zkzcmcorkbn] nvarchar(100),\n\t[zkzmbcorkbn] nvarchar(100),\n\t[zkzwinscd1] nvarchar(100),\n\t[zkzwinscd2] nvarchar(100),\n\t[zkzfvctkbn] nvarchar(100),\n\t[zkzfacecd] nvarchar(100),\n\t[zkzdecatkbn] nvarchar(100),\n\t[zkzdecapcd] nvarchar(100),\n\t[zkzdecalgo] nvarchar(100),\n\t[ZADMINDEL] nvarchar(100),\n\t[ZCOMMTYP] nvarchar(100),\n\t[ZAPCOMCC] nvarchar(100),\n\t[ZCOMCC] nvarchar(100),\n\t[ZSETSDATE] datetime2(7),\n\t[ZSETEDATE] datetime2(7),\n\t[ZUNIFRM] nvarchar(100),\n\t[zzernam] nvarchar(100),\n\t[zzersda] datetime2(7),\n\t[zzerzzt] datetime2(7),\n\t[zzaenam] nvarchar(100),\n\t[zzupdat] datetime2(7),\n\t[zzuptim] datetime2(7),\n\t[zzupind] nvarchar(100),\n\t[ZZLOEVM] nvarchar(100),\n\t[TIMESTAMP] datetime2(7),\n\t[ZKZONLINEFLG] nvarchar(100),\n\t[ZKZDPFLG] nvarchar(100),\n\t[ivp_dt] nvarchar(100)\n\t)\n\tWITH (\n\tLOCATION = 'Parquet/data_81fffbd5-cfb3-404e-90a2-fbfac31928cd_a54bdb6f-c3dc-448c-97fc-00100494f4f2.parquet',\n\tDATA_SOURCE = [synapsedata01_dl4synapsesea01_dfs_core_windows_net],\n\tFILE_FORMAT = [SynapseParquetFormat]\n\t)\nGO\n\n\nSELECT TOP 100 * FROM [dbo].[extt1_4]\nGO",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "db01",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SQL script 4')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "Create external table [dbo].[extt1_5]\nWITH\n(\n\tLOCATION = 'Parquet/data.parquet',\n\tDATA_SOURCE = [synapsedata01_dl4synapsesea01_dfs_core_windows_net],\n\tFILE_FORMAT = [SynapseParquetFormat]\n)\nAS\nWITH \nraw_data AS (\n    SELECT *\n    FROM [dbo].[extt1_4] WHERE ivp_dt = 20240704\n),\nremoved_dup AS (\n    SELECT C.* \n    FROM (SELECT DISTINCT zkzfustorcd from raw_data) A\n    CROSS APPLY (SELECT TOP 1 * \n                FROM raw_data B\n                WHERE A.zkzfustorcd  = B.zkzfustorcd\n                ORDER by [TIMESTAMP] DESC) C\n),\nnew_data AS (\n    SELECT *\n        , CAST('2024-07-01 16:04:12' as date) as [ivp_created_date]\n        , CAST('2024-07-01 16:04:12' as datetime2) as [ivp_created_timestamp]\n        , 'CCBJI' as [ivp_created_co]\n        , 'IVP' as [ivp_created_by]\n        , 'IF' as [ivp_created_pgm_nm]\n        , CAST('2024-07-01 16:04:12' as date) as [ivp_updated_date]\n        , CAST('2024-07-01 16:04:12' as datetime2) as [ivp_updated_timestamp]\n        , 'CCBJI' as [ivp_updated_co]\n        , 'IVP' as [ivp_updated_by]\n        , 'IF' as [ivp_updated_pgm_nm]\n        , 'U' as [ivp_updated_cl]\n    FROM [removed_dup]\n),\nnew_data_set AS (\n    SELECT \n       new_data.[zkzfustorcd]\n      ,new_data.[zkzfssetkbn]\n      ,new_data.[zkzdcbukrs]\n      ,new_data.[zkzfdelotxt]\n      ,new_data.[zkzfdelotxk]\n      ,new_data.[zkzfdelotab]\n      ,new_data.[zkzcusstdat]\n      ,new_data.[zkzcuseddat]\n      ,new_data.[zkzorotflg]\n      ,new_data.[zkzorogrpcd]\n      ,new_data.[zkzcmodeflg]\n      ,new_data.[zkzemocoflg]\n      ,new_data.[zkzppaidkbn]\n      ,new_data.[zkzidcadkbn]\n      ,new_data.[zkzondcpflg]\n      ,new_data.[zkzppaemocd]\n      ,new_data.[zkztranskbn]\n      ,new_data.[zkztaxkbn]\n      ,new_data.[zkzcprgrpcd]\n      ,new_data.[zkzopcpgrcd]\n      ,new_data.[zkzkemonkbn]\n      ,new_data.[zkzfrpkbn]\n      ,new_data.[zkzproekbn]\n      ,new_data.[zkzpainukbn]\n      ,new_data.[zkzimcedflg]\n      ,new_data.[zkzarkunnr]\n      ,new_data.[zkzppkunnr]\n      ,new_data.[zkzidkunnr]\n      ,new_data.[zkzcmonsflg]\n      ,new_data.[zkzcmonscd]\n      ,new_data.[zkzarpayee]\n      ,new_data.[zkzarmgtkbn]\n      ,new_data.[zkzmoparbuk]\n      ,new_data.[zkzmopdebuk]\n      ,new_data.[zkzmopucbuk]\n      ,new_data.[zkzcoscbkbn]\n      ,new_data.[zkzsplodgrcd]\n      ,new_data.[zkzdiswerks]\n      ,new_data.[zkzdirprocd]\n      ,new_data.[zkzdibarocd]\n      ,new_data.[zkzditeamcd]\n      ,new_data.[zkzdirerocd]\n      ,new_data.[zkzgrpcd]\n      ,new_data.[zkzsmgtbuk]\n      ,new_data.[zkzsmgtwer]\n      ,new_data.[zkzsmgtrocd]\n      ,new_data.[zkzmopsakbn]\n      ,new_data.[zkzprsprt]\n      ,new_data.[zkzcomcakbn]\n      ,new_data.[zkzlacadttm]\n      ,new_data.[zkzlcocakbn]\n      ,new_data.[zkzlfsorkbn]\n      ,new_data.[zkzsclrrflg]\n      ,new_data.[zkzcmcorkbn]\n      ,new_data.[zkzmbcorkbn]\n      ,new_data.[zkzwinscd1]\n      ,new_data.[zkzwinscd2]\n      ,new_data.[zkzfvctkbn]\n      ,new_data.[zkzfacecd]\n      ,new_data.[zkzdecatkbn]\n      ,new_data.[zkzdecapcd]\n      ,new_data.[zkzdecalgo]\n      ,new_data.[ZADMINDEL]\n      ,new_data.[ZCOMMTYP]\n      ,new_data.[ZAPCOMCC]\n      ,new_data.[ZCOMCC]\n      ,new_data.[ZSETSDATE]\n      ,new_data.[ZSETEDATE]\n      ,new_data.[ZUNIFRM]\n      ,new_data.[ZKZONLINEFLG] as [zkzonlineflg]\n      ,new_data.[ZKZDPFLG] as [zkzdpflg]\n      ,new_data.[zzernam]\n      ,new_data.[zzersda]\n      ,new_data.[zzerzzt]\n      ,new_data.[zzaenam]\n      ,new_data.[zzupdat]\n      ,new_data.[zzuptim]\n      ,new_data.[zzupind]\n      ,new_data.[ZZLOEVM]\n      ,new_data.[TIMESTAMP]\n    ,new_data.[ivp_dt],\n       new_data.[ivp_updated_date],\n       new_data.[ivp_updated_timestamp],\n       new_data.[ivp_updated_co],\n       new_data.[ivp_updated_by],\n       new_data.[ivp_updated_pgm_nm]\n    FROM new_data\n)\nselect * from new_data_set;\n\nselect * from [dbo].[extt1_5]",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "db01",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SQL script 5')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "-- This is auto-generated code\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'https://dl4synapsesea01.dfs.core.windows.net/synapsedata01/CSV/testcsv.csv',\n        FORMAT = 'CSV',\n        PARSER_VERSION = '2.0'\n    ) AS [result]\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "master",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Notebook 1')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "sparkpool01",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"runAsWorkspaceSystemIdentity": false,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "a42aa1a5-12d4-4541-b973-d10e44a7a62a"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"language_info": {
						"name": "python"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/84a77243-5e65-47ac-bffc-0bb77428e6c9/resourceGroups/rg-bigdata-sea-01/providers/Microsoft.Synapse/workspaces/yuanxiasynwssea01/bigDataPools/sparkpool01",
						"name": "sparkpool01",
						"type": "Spark",
						"endpoint": "https://yuanxiasynwssea01.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/sparkpool01",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net",
							"authHeader": null
						},
						"sparkVersion": "3.4",
						"nodeCount": 10,
						"cores": 4,
						"memory": 28,
						"extraHeader": null
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"metadata": {
							"microsoft": {
								"language": "python"
							}
						},
						"source": [
							"%%pyspark\n",
							"df = spark.read.load('abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Parquet/dbo.t1.parquet', format='parquet')\n",
							"display(df.limit(10))\n",
							"# Hello"
						],
						"outputs": []
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Notebook 2')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "sparkpool01",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"runAsWorkspaceSystemIdentity": false,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "bf9c8a51-34b5-41e6-b2cc-b23276ad49b7"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"language_info": {
						"name": "python"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/84a77243-5e65-47ac-bffc-0bb77428e6c9/resourceGroups/rg-bigdata-sea-01/providers/Microsoft.Synapse/workspaces/yuanxiasynwssea01/bigDataPools/sparkpool01",
						"name": "sparkpool01",
						"type": "Spark",
						"endpoint": "https://yuanxiasynwssea01.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/sparkpool01",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net",
							"authHeader": null
						},
						"sparkVersion": "3.4",
						"nodeCount": 10,
						"cores": 4,
						"memory": 28,
						"extraHeader": null
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"source": [
							"# Create a sample DataFrame\n",
							"data = [\n",
							"    (\"Alice\", 30, \"Engineer\"),\n",
							"    (\"Bob\", 35, \"Manager\"),\n",
							"    (\"Charlie\", 40, \"Director\"),\n",
							"    (\"David\", 28, \"Data Scientist\"),\n",
							"    (\"Eva\", 11, \"Analyst\"),\n",
							"]\n",
							"columns = [\"name\", \"age\", \"occupation\"]\n",
							"\n",
							"df = spark.createDataFrame(data, columns)\n",
							"\n",
							"# Display the DataFrame (optional)\n",
							"df.show()\n",
							"\n",
							"# Write DataFrame to Delta format\n",
							"# Update the path to your own storage location\n",
							"output_delta_path = \"abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/FabricSampleData\"\n",
							"\n",
							"df.write.format(\"delta\") \\\n",
							"    .mode(\"overwrite\") \\\n",
							"    .save(output_delta_path)\n",
							"\n",
							"print(f\"Data successfully written to Delta at: {output_delta_path}\")\n",
							""
						],
						"outputs": [],
						"execution_count": 7
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Notebook 3')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "sparkpool01",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "1204acce-bd68-4834-946b-1fc2cbef20f8"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "Synapse PySpark"
					},
					"language_info": {
						"name": "sql"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/84a77243-5e65-47ac-bffc-0bb77428e6c9/resourceGroups/rg-bigdata-sea-01/providers/Microsoft.Synapse/workspaces/yuanxiasynwssea01/bigDataPools/sparkpool01",
						"name": "sparkpool01",
						"type": "Spark",
						"endpoint": "https://yuanxiasynwssea01.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/sparkpool01",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net"
						},
						"sparkVersion": "3.4",
						"nodeCount": 10,
						"cores": 4,
						"memory": 28,
						"automaticScaleJobs": false
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"metadata": {
							"microsoft": {
								"language": "python"
							}
						},
						"source": [
							"%%pyspark\n",
							"\n",
							"print(\"hello\")"
						],
						"outputs": [],
						"execution_count": 1
					},
					{
						"cell_type": "code",
						"metadata": {
							"collapsed": false
						},
						"source": [
							"create database altertestdb;"
						],
						"outputs": [],
						"execution_count": 2
					},
					{
						"cell_type": "code",
						"metadata": {
							"collapsed": false
						},
						"source": [
							"create table altertestdb.table1(c1 int)"
						],
						"outputs": [],
						"execution_count": 3
					},
					{
						"cell_type": "code",
						"metadata": {},
						"source": [
							"ALTER table altertestdb.table1 add column c2 int"
						],
						"outputs": [],
						"execution_count": null
					},
					{
						"cell_type": "code",
						"metadata": {
							"collapsed": false
						},
						"source": [
							"create table altertestdb.table2(c1 int);\n",
							"insert into altertestdb.table2 values (1);\n",
							"insert into altertestdb.table2 values (2);\n",
							"select * from altertestdb.table2;"
						],
						"outputs": [],
						"execution_count": 4
					},
					{
						"cell_type": "code",
						"metadata": {
							"collapsed": false
						},
						"source": [
							"create table altertestdb.table2_temp(c1 int, c2 int);\n",
							"insert into altertestdb.table2_temp select c1, null as c2 from altertestdb.table2;\n",
							"alter table altertestdb.table2 rename to table2_old;\n",
							"alter table altertestdb.table2_temp rename to table2;\n",
							""
						],
						"outputs": [],
						"execution_count": 8
					},
					{
						"cell_type": "code",
						"metadata": {
							"collapsed": false
						},
						"source": [
							"select * from altertestdb.table2;\n",
							"select * from altertestdb.table2_old;"
						],
						"outputs": [],
						"execution_count": 9
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Database1')]",
			"type": "Microsoft.Synapse/workspaces/databases",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"Ddls": [
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Database1",
							"EntityType": "DATABASE",
							"Origin": {
								"Type": "SPARK"
							},
							"Properties": {
								"IsSyMSCDMDatabase": true
							},
							"Source": {
								"Provider": "ADLS",
								"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Table_1",
								"Properties": {
									"FormatType": "csv",
									"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage"
								}
							},
							"PublishStatus": "PUBLISHED",
							"ObjectVersion": 8,
							"ObjectId": "ecd8bc52-fbfe-47b4-9079-2bd3bd3430d5"
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "MarsTest",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "Database1",
								"DatabaseId": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "Column_1",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 256,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "0e6f10ca-314d-4d66-b8a9-7680d95871cd",
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Databases/TempDatabases/MarsTest",
										"delimiter": ",",
										"firstRowAsHeader": "false",
										"multiLine": "false",
										"serialization.format": "1",
										"escape": "\\",
										"quote": "\"",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "false"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Databases/TempDatabases/MarsTest",
									"Properties": {
										"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"Column_1\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}"
							},
							"ObjectVersion": 2,
							"ObjectId": "357d17ea-e645-4f67-a7b0-7ae08cd6a9cb",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Table_1",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "Database1",
								"DatabaseId": null
							},
							"Partitioning": {
								"PartitionFunctionType": null,
								"Keys": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "Column_1",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 256,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "02857df3-a9dc-4278-a332-62ea78887fc6",
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Table_1/Table_3",
										"delimiter": ",",
										"firstRowAsHeader": "false",
										"multiLine": "false",
										"serialization.format": "1",
										"escape": "\\",
										"quote": "\"",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "false"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Table_1/Table_3",
									"Properties": {
										"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"Column_1\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}",
								"spark.sql.partitionProvider": "catalog"
							},
							"ObjectVersion": 7,
							"ObjectId": "2d065632-f732-4a61-b48b-3aa13765af26",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Table_10",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "Database1",
								"DatabaseId": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "Column_1",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 256,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "5773afa5-9791-415a-a865-94f6556c8ff7",
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Databases/TempDatabases/Table_10",
										"delimiter": ",",
										"firstRowAsHeader": "false",
										"multiLine": "false",
										"serialization.format": "1",
										"escape": "\\",
										"quote": "\"",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "false"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Databases/TempDatabases/Table_10",
									"Properties": {
										"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"Column_1\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}"
							},
							"ObjectVersion": 2,
							"ObjectId": "8673cd71-1642-4b9b-b135-9d74edb7af7f",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Table_11",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "Database1",
								"DatabaseId": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "Column_1",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 256,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "4619fd91-92ad-4466-a067-7eee524412ec",
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Databases/TempDatabases/Table_11",
										"delimiter": ",",
										"firstRowAsHeader": "false",
										"multiLine": "false",
										"serialization.format": "1",
										"escape": "\\",
										"quote": "\"",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "false"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Databases/TempDatabases/Table_11",
									"Properties": {
										"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"Column_1\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}"
							},
							"ObjectVersion": 2,
							"ObjectId": "8291898c-0b78-4d7e-98b4-ad09eaa28e68",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Table_2",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "Database1",
								"DatabaseId": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "Column_1",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": false,
											"Length": 256,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "8f49b6ae-30e3-45df-935b-78949a60b1df",
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Databases/TempDatabases/Table_2",
										"delimiter": ",",
										"firstRowAsHeader": "false",
										"multiLine": "false",
										"serialization.format": "1",
										"escape": "\\",
										"quote": "\"",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "false"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Databases/TempDatabases/Table_2",
									"Properties": {
										"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "Column_1",
								"spark.sql.sources.provider": "csv",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"Column_1\",\"type\":\"string\",\"nullable\":false,\"metadata\":{}}]}"
							},
							"ObjectVersion": 2,
							"ObjectId": "953b67c7-4105-4864-a507-b46441668996",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Table_3",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "Database1",
								"DatabaseId": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "Column_1",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 256,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "efbe7473-77db-4f4c-997e-5bf9cffbdf1b",
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Databases/TempDatabases/Table_3",
										"delimiter": ",",
										"firstRowAsHeader": "false",
										"multiLine": "false",
										"serialization.format": "1",
										"escape": "\\",
										"quote": "\"",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "false"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Databases/TempDatabases/Table_3",
									"Properties": {
										"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"Column_1\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}"
							},
							"ObjectVersion": 2,
							"ObjectId": "e8c0582f-f2f9-43a3-b9da-e84bb261c796",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Table_4",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "Database1",
								"DatabaseId": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "Column_1",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 256,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "b12797e8-bbad-4b35-9bf1-326506d3db13",
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/CSV/Table_4",
										"delimiter": ",",
										"firstRowAsHeader": "false",
										"multiLine": "false",
										"serialization.format": "1",
										"escape": "\\",
										"quote": "\"",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "false"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/CSV/Table_4",
									"Properties": {
										"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"Column_1\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}"
							},
							"ObjectVersion": 2,
							"ObjectId": "838ed04a-cafa-4a2b-84ea-2b2ca1406a06",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Table_5",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "Database1",
								"DatabaseId": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "Column_1",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 256,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "65ab5a54-d3a7-4d35-9b2e-d9e5bc91c2eb",
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Table_1/Table_5",
										"delimiter": ",",
										"firstRowAsHeader": "false",
										"multiLine": "false",
										"serialization.format": "1",
										"escape": "\\",
										"quote": "\"",
										"FormatTypeSetToDatabaseDefault": true,
										"header": "false"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Table_1/Table_5",
									"Properties": {
										"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": true
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"Column_1\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}"
							},
							"ObjectVersion": 2,
							"ObjectId": "6aca8c70-39d6-4da0-bbdf-09be6fd71fac",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Table_6",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "Database1",
								"DatabaseId": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "Column_1",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 256,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "f2486ed3-b860-4ea9-8a50-ab0d1966172e",
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Parquet/data.parquet/Table_6",
										"delimiter": ",",
										"firstRowAsHeader": "false",
										"multiLine": "false",
										"serialization.format": "1",
										"escape": "\\",
										"quote": "\"",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "false"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Parquet/data.parquet/Table_6",
									"Properties": {
										"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"Column_1\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}"
							},
							"ObjectVersion": 2,
							"ObjectId": "75b43582-c8d5-4b6d-84e0-fa899d4a9305",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Table_7",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "Database1",
								"DatabaseId": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "Column_1",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 256,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "e2543426-caae-416a-9e5e-4d1b7e41c90f",
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Databases/TempDatabases/Table_7",
										"delimiter": ",",
										"firstRowAsHeader": "false",
										"multiLine": "false",
										"serialization.format": "1",
										"escape": "\\",
										"quote": "\"",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "false"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Databases/TempDatabases/Table_7",
									"Properties": {
										"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"Column_1\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}"
							},
							"ObjectVersion": 2,
							"ObjectId": "0e01f3aa-95b0-4579-8dc7-adab382ac531",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Table_8",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "Database1",
								"DatabaseId": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "Column_1",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 256,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "323bf96c-7168-41b7-a32f-32b4723851cf",
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Parquet/data.parquet/Table_8",
										"delimiter": ",",
										"firstRowAsHeader": "false",
										"multiLine": "false",
										"serialization.format": "1",
										"escape": "\\",
										"quote": "\"",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "false"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Parquet/data.parquet/Table_8",
									"Properties": {
										"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"Column_1\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}"
							},
							"ObjectVersion": 2,
							"ObjectId": "c72dc602-6b8a-471b-a150-749e0383e805",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Table_9",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "Database1",
								"DatabaseId": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "Column_1",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 256,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "06b276f5-f34e-44d8-b255-fd2b7be533b3",
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Databases/TempDatabases/Table_9",
										"delimiter": ",",
										"firstRowAsHeader": "false",
										"multiLine": "false",
										"serialization.format": "1",
										"escape": "\\",
										"quote": "\"",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "false"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database1/Databases/TempDatabases/Table_9",
									"Properties": {
										"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"Column_1\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}"
							},
							"ObjectVersion": 2,
							"ObjectId": "abac9f09-c726-4fbe-8c50-a9b96370ec9a",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Database2')]",
			"type": "Microsoft.Synapse/workspaces/databases",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"Ddls": [
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Database2",
							"EntityType": "DATABASE",
							"Origin": {
								"Type": "SPARK"
							},
							"Properties": {
								"IsSyMSCDMDatabase": true
							},
							"Source": {
								"Provider": "ADLS",
								"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database2/Table_2",
								"Properties": {
									"FormatType": "csv",
									"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage"
								}
							},
							"PublishStatus": "PUBLISHED",
							"ObjectVersion": 2,
							"ObjectId": "40c152c5-0608-43c1-a5a6-e4d046999723"
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Table_1",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "Database2",
								"DatabaseId": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "Column_1",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 256,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "35529c2f-3263-4476-b10f-dda67a5fc519",
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Databases/TempDatabases/Table_1",
										"delimiter": ",",
										"firstRowAsHeader": "false",
										"multiLine": "false",
										"serialization.format": "1",
										"escape": "\\",
										"quote": "\"",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "false"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Databases/TempDatabases/Table_1",
									"Properties": {
										"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"Column_1\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}"
							},
							"ObjectVersion": 2,
							"ObjectId": "83464f14-4212-4ea8-a8a9-24327ed4d875",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Table_2",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "Database2",
								"DatabaseId": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "Column_1",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 256,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "5c54c006-1944-46d2-80b6-245c846c4a40",
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Databases/TempDatabases/Table_2",
										"delimiter": ",",
										"firstRowAsHeader": "false",
										"multiLine": "false",
										"serialization.format": "1",
										"escape": "\\",
										"quote": "\"",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "false"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Databases/TempDatabases/Table_2",
									"Properties": {
										"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"Column_1\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}"
							},
							"ObjectVersion": 2,
							"ObjectId": "a00cb43a-a0fa-4c15-a02f-150f200b68bb",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Table_3",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "Database2",
								"DatabaseId": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "Column_1",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 256,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "e435c18a-cf5a-403e-bdf2-3accdb061b64",
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Databases/TempDatabases/Table_3",
										"delimiter": ",",
										"firstRowAsHeader": "false",
										"multiLine": "false",
										"serialization.format": "1",
										"escape": "\\",
										"quote": "\"",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "false"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Databases/TempDatabases/Table_3",
									"Properties": {
										"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"Column_1\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}"
							},
							"ObjectVersion": 2,
							"ObjectId": "65e8585e-a0ba-480d-a914-48d62b992aa2",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Table_4",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "Database2",
								"DatabaseId": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "Column_1",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 256,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "885f3fdd-fcc6-4c82-897c-207fd33fc9c9",
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database2/Table_2/Table_4/Mars",
										"delimiter": ",",
										"firstRowAsHeader": "false",
										"multiLine": "false",
										"serialization.format": "1",
										"escape": "\\",
										"quote": "\"",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "false"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database2/Table_2/Table_4/Mars",
									"Properties": {
										"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"Column_1\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}"
							},
							"ObjectVersion": 2,
							"ObjectId": "3e7c551a-640b-485d-8a94-44d2bca58e51",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Database3')]",
			"type": "Microsoft.Synapse/workspaces/databases",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"Ddls": [
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Database3",
							"EntityType": "DATABASE",
							"Origin": {
								"Type": "SPARK"
							},
							"Properties": {
								"IsSyMSCDMDatabase": true
							},
							"Source": {
								"Provider": "ADLS",
								"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database3/Table_1",
								"Properties": {
									"FormatType": "csv",
									"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage"
								}
							},
							"PublishStatus": "PUBLISHED",
							"ObjectVersion": 2,
							"ObjectId": "cb1dee02-b8ca-4883-9c05-ae87eedfc696"
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Table_1",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "Database3",
								"DatabaseId": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "Column_1",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 256,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "9cc8de05-4577-43ba-adf8-7333bd5500ca",
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database3/Table_1/Table_1",
										"delimiter": ",",
										"firstRowAsHeader": "false",
										"multiLine": "false",
										"serialization.format": "1",
										"escape": "\\",
										"quote": "\"",
										"FormatTypeSetToDatabaseDefault": true,
										"header": "false"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database3/Table_1/Table_1",
									"Properties": {
										"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": true
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"Column_1\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}"
							},
							"ObjectVersion": 2,
							"ObjectId": "9e7b220b-8282-4ac9-bcd1-2a4b7713f35a",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "Table_2",
							"EntityType": "TABLE",
							"TableType": "EXTERNAL",
							"Namespace": {
								"SchemaName": null,
								"DatabaseName": "Database3",
								"DatabaseId": null
							},
							"StorageDescriptor": {
								"Distribution": null,
								"Columns": [
									{
										"Name": "Column_1",
										"Description": null,
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 256,
											"Precision": 0,
											"Scale": 0,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									}
								],
								"ColumnSetEntityName": "5bb1ed36-7ade-46c3-a5ab-efe67a64bbea",
								"Format": {
									"InputFormat": "org.apache.hadoop.mapred.SequenceFileInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.HiveSequenceFileOutputFormat",
									"FormatType": "csv",
									"SerializeLib": "org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe",
									"Properties": {
										"path": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database3/Databases/TempDatabases/Table_2",
										"delimiter": ",",
										"firstRowAsHeader": "false",
										"multiLine": "false",
										"serialization.format": "1",
										"escape": "\\",
										"quote": "\"",
										"FormatTypeSetToDatabaseDefault": false,
										"header": "false"
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://synapsedata01@dl4synapsesea01.dfs.core.windows.net/Database3/Databases/TempDatabases/Table_2",
									"Properties": {
										"LinkedServiceName": "yuanxiasynwssea01-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "{\"type\":\"None\",\"level\":\"optimal\"}",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"SerDeInfo": null,
								"IsStoredAsSubdirectories": false
							},
							"Owner": null,
							"CreateTime": 0,
							"LastAccessTime": 0,
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false,
							"ViewOriginalText": null,
							"ViewExpandedText": null,
							"Origin": {
								"Type": "SPARK"
							},
							"OriginObjectId": null,
							"IsSharedEntity": false,
							"PublishStatus": "PUBLISHED",
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "csv",
								"spark.sql.sources.schema.numParts": "1",
								"spark.sql.sources.schema.part.0": "{\"type\":\"struct\",\"fields\":[{\"name\":\"Column_1\",\"type\":\"string\",\"nullable\":true,\"metadata\":{}}]}"
							},
							"ObjectVersion": 2,
							"ObjectId": "d92407eb-86e5-42ab-9600-348f3896893c",
							"Description": ""
						},
						"Source": {
							"Type": "SPARK"
						}
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/sparkpool01')]",
			"type": "Microsoft.Synapse/workspaces/bigDataPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"autoPause": {
					"enabled": true,
					"delayInMinutes": 15
				},
				"autoScale": {
					"enabled": true,
					"maxNodeCount": 3,
					"minNodeCount": 3
				},
				"nodeCount": 10,
				"nodeSize": "Small",
				"nodeSizeFamily": "MemoryOptimized",
				"sparkVersion": "3.4",
				"isComputeIsolationEnabled": false,
				"sessionLevelPackagesEnabled": false,
				"customLibraries": [],
				"annotations": []
			},
			"dependsOn": [],
			"location": "southeastasia"
		},
		{
			"name": "[concat(parameters('workspaceName'), '/sparkpool02')]",
			"type": "Microsoft.Synapse/workspaces/bigDataPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"autoPause": {
					"enabled": true,
					"delayInMinutes": 15
				},
				"autoScale": {
					"enabled": true,
					"maxNodeCount": 3,
					"minNodeCount": 3
				},
				"nodeCount": 0,
				"nodeSize": "Small",
				"nodeSizeFamily": "MemoryOptimized",
				"sparkVersion": "3.3",
				"isComputeIsolationEnabled": false,
				"sessionLevelPackagesEnabled": false,
				"annotations": []
			},
			"dependsOn": [],
			"location": "southeastasia"
		},
		{
			"name": "[concat(parameters('workspaceName'), '/mxsqlpoolsea01')]",
			"type": "Microsoft.Synapse/workspaces/sqlPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"collation": "SQL_Latin1_General_CP1_CI_AS",
				"maxSizeBytes": 263882790666240,
				"annotations": []
			},
			"dependsOn": [],
			"location": "southeastasia"
		}
	]
}